body {
  color: #232020;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #FF7315;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #FF7315;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #E84007;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #E84007;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f4f4f4;
}

hr {
  border: dotted #3A3535 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #f4f4f4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.profile-img {
  width: 15%;
  margin: 0 auto;
}

.bio-description {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.travel-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/*.contact-me {
  line-height: 2;
}*/

.contact-description {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #FF7315;
  position: relative;
  width: 100%;
  padding: 50px 0 20px;
}

.footer-link {
  margin: auto 20px;

}

.copyright {
  color: #f4f4f4;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7315), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ff7315 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7315', endColorstr='#fb9e25');
	background-color:#ff7315;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:180px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ff7315) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ff7315 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ff7315');
	background-color:#fb9e25;
}.btn:active {
	position:relative;
	top:1px;
}
